{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Кабинет врача</h2>
    <p>Добро пожаловать, {{ user.username }}!</p>
    <ul>
        <li>Имя: {{ user.doctorprofile.first_name }}</li>
        <li>Фамилия: {{ user.doctorprofile.last_name }}</li>
        <li>Телефон: {{ user.doctorprofile.phone }}</li>
        <li>Адрес: {{ user.doctorprofile.address }}</li>
        <li>Дата рождения: {{ user.doctorprofile.birth_date }}</li>
        <li>Специализация: {{ user.doctorprofile.specialization }}</li>
        <li>Категория: {{ user.doctorprofile.category }}</li>
    </ul>
    <h3>Расписание</h3>
    <table class="table table-dark">
        <tr>
            <th>Дата и время</th>
            <th>Пациент</th>
            <th>Услуга</th>
            <th>Заметки</th>
        </tr>
        {% for app in appointments %}
        <tr>
            <td>{{ app.appointment_date }}</td>
            <td>
                {% if app.client %}
                    <a href="{% url 'client_detail' app.client.id %}">
                        {{ app.client.user.last_name }} {{ app.client.user.first_name }}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ app.service }}</td>
            <td>{{ app.notes }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Нет записей</td></tr>
        {% endfor %}
    </table>
    <h3>Оказываемые услуги</h3>
    <ul>
        {% for service in user.doctorprofile.services.all %}
            <li>{{ service.name }} — {{ service.price }} BYN</li>
        {% empty %}
            <li>Нет выбранных услуг</li>
        {% endfor %}
    </ul>

    <!-- Форма добавления услуги -->
    <form method="post" class="mt-3 mb-3">
        {% csrf_token %}
        <div class="input-group">
            <select name="service_id" class="form-select" required>
                <option value="" disabled selected>Добавить услугу...</option>
                {% for service in available_services %}
                    <option value="{{ service.id }}">{{ service.name }} — {{ service.price }} BYN</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-success">Добавить</button>
        </div>
    </form>

    <a href="{% url 'account_logout' %}" class="btn btn-danger mt-3">Выйти</a>
</div>
{% endblock %}